# Python
__pycache__/
*.py[cod]
*.pyo

# Python virtual environment
venv/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Secrets / environment variables
.env
.env.*
!.env.example

# Next.js / Node
node_modules/
.next/
out/

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Testing / cache
.pytest_cache/
.coverage
htmlcov/